@font-face {
    font-family: 'nunanunong_demoregular';
    src: url('../fonts/nunanunong_demo-webfont.eot');
    src: url('../fonts/nunanunong_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunanunong_demo-webfont.woff2') format('woff2'),
         url('../fonts/nunanunong_demo-webfont.woff') format('woff'),
         url('../fonts/nunanunong_demo-webfont.ttf') format('truetype'),
         url('../fonts/nunanunong_demo-webfont.svg#nunanunong_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}