<div class="album-wrap">
	<div id="albums" class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1>grab the latest releases</h1>
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-6 text-center">
				<img class="full-w album" src="https://s3.amazonaws.com/myfangate.com/freshfaces/icenine.jpg">
				<h5 class="album-info">Pre-order the New Album</h5>
				<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadgepre.png">				
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-6 text-center">
				<img class="full-w album" src="https://s3.amazonaws.com/myfangate.com/freshfaces/wagewar.jpg">
				<h5 class="album-info">Pre-order the New Album</h5>
				<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadgepre.png">
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-6 text-center">
				<img class="full-w album" src="https://s3.amazonaws.com/myfangate.com/freshfaces/myenemeies.jpg">
				<h5 class="album-info">EP Available Now</h5>
				<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadge.png">
			</div>
			<div class="col-lg-3 col-sm-6 col-xs-6 text-center">
				<img class="full-w album" src="https://s3.amazonaws.com/myfangate.com/freshfaces/thewhitenoise.jpg">				
				<h5 class="album-info">Single Available Now</h5>
				<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadge.png">
			</div>						
		</div>
	</div>
</div>