<div class="container">
	<div class="row">
		<div class="col-lg-3 text-center">
			<img class="full-w album" src="<%= lorem.image('640x640') %>"	>
			<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadge.png">
		</div>
		<div class="col-lg-3 text-center">
			<img class="full-w album" src="<%= lorem.image('640x640') %>"	>
			<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadge.png">
		</div>
		<div class="col-lg-3 text-center">
			<img class="full-w album" src="<%= lorem.image('640x640') %>"	>
			<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadge.png">
		</div>
		<div class="col-lg-3 text-center">
			<img class="full-w album" src="<%= lorem.image('640x640') %>"	>
			<img class="full-w itunes" src="https://s3.amazonaws.com/myfangate.com/freshfaces/itunesbadge.png">
		</div>						
	</div>
</div>