<div id="footer">
	<div class="container">	
			<div class="col-lg-1 col-lg-offset-2 col-md-1 col-md-offset-2 col-sm-1 col-sm-offset-2 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/fearless.png">	
			</div>	
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/outerloop.png">	
			</div>						
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/merchnow.png">	
			</div>				
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/trx.png">	
			</div>				
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/lipservice.png">	
			</div>				
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/ironfist.png">	
			</div>				
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/ghs.png">	
			</div>			
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 foot-icon text-center">
				<img class="img-responsive sponsor" src="https://s3.amazonaws.com/myfangate.com/freshfaces/idobi.png">	
			</div>							
		</div>
		<div class="row text-center">			
			<a href="#" target="_blank">
				<span class="fa-stack fa-lg">
					<i style="color: #cecec0;" class="fa fa-circle fa-stack-2x"></i>
					<i id="facebook" style="color: rgb(186, 14, 16);" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
				</span>
			</a>			
			<a href="#" target="_blank">
				<span class="fa-stack fa-lg">
					<i style="color: #cecec0;" class="fa fa-circle fa-stack-2x"></i>
					<i id="twitter" style="color: rgb(186, 14, 16);" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
				</span>
			</a>
			<a href="#" target="_blank">
				<span class="fa-stack fa-lg">
					<i style="color: #cecec0;" class="fa fa-circle fa-stack-2x"></i>
					<i id="youtube" style="color: rgb(186, 14, 16);" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
				</span>
			</a>						
	</div>
</div>