<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>Fresh Faces Tour</title>
<meta name="description" content="win a pair of tickets to a date near you" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Fearless Records Presents | Fresh Faces Tour">
<meta itemprop="description" content="Win a pair of tickets to a date near you">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/freshfaces/share.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@fearlessrecords">
<meta name="twitter:title" content="Fearless Records Presents | Fresh Faces Tour">
<meta name="twitter:description" content="Win a pair of tickets to a date near you">
<meta name="twitter:creator" content="@fearlessrecords">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/freshfaces/share.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="Fearless Records Presents | Fresh Faces Tour" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.freshfacestour.com" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/freshfaces/share.jpg" />
<meta property="og:description" content="Win a pair of tickets to a date near you" />
<meta property="og:site_name" content="freshfacestour.com" />