<div id="social">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">      
        <h1>join the <span>#</span>freshfacestour community</h1>      
      </div>
      <div class="col-lg-10 col-lg-offset-1">
        <div id="social-stream"></div>
      </div>
    </div>
  </div>
</div>