<section id="dates">
  <div id="tourdates-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>tour dates</h1>
        </div>    
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row listing">
        <div class="col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <div>
                <span class="date"><strong>Oct 24 | Rochester, NY </strong></span>
                <a href="http://www.bandsintown.com/event/10590097-ice-nine-kills-rochester-water-street-music-hall-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 25 | Toledo, OH </strong></span>
                <a href="http://www.bandsintown.com/event/10590112-ice-nine-kills-toledo-frankies-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 28 | Indianapolis, IN </strong></span>
                <a href="http://www.bandsintown.com/event/10590119-ice-nine-kills-indianapolis-the-emerson-theater-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 29 | Iowa City, IA </strong></span>
                <a href="http://www.bandsintown.com/event/10604384-ice-nine-kills-iowa-city-blue-moose-lounge-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 30 | Burnsville, MN </strong></span>
                <a href="http://www.bandsintown.com/event/10590109-ice-nine-kills-burnsville-the-garage-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 05 | Seattle, WA </strong></span>
                <a href="http://www.bandsintown.com/event/10590111-ice-nine-kills-seattle-chop-suey-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 06 | Portland, OR </strong></span>
                <a href="http://www.bandsintown.com/event/10590133-ice-nine-kills-portland-hawthorne-theater-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 08 | Sacramento, CA </strong></span>
                <a href="http://www.bandsintown.com/event/10590135-ice-nine-kills-sacramento-the-boardwalk-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 11 | Anaheim, CA </strong></span>
                <a href="http://www.bandsintown.com/event/10553324-ice-nine-kills-anaheim-chain-reaction-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 12 | San Diego, CA </strong></span>
                <a href="http://www.bandsintown.com/event/10590122-ice-nine-kills-san-diego-soma-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 13 | Phoenix, AZ </strong></span>
                <a href="http://www.bandsintown.com/event/10590155-ice-nine-kills-phoenix-joes-grotto-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 16 | Oklahoma City, OK </strong></span>
                <a href="http://www.bandsintown.com/event/10590126-ice-nine-kills-oklahoma-city-89th-street-collective-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 17 | St Louis, MO </strong></span>
                <a href="http://www.bandsintown.com/event/10590127-ice-nine-kills-st-louis-the-firebird-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 19 | Pittsburgh, PA </strong></span>
                <a href="http://www.bandsintown.com/event/10590162-ice-nine-kills-pittsburgh-altar-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 21 | Lemoyne, PA </strong></span>
                <a href="http://www.bandsintown.com/event/10590140-ice-nine-kills-lemoyne-the-champ-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 22 | Clifton Park, NY </strong></span>
                <a href="http://www.bandsintown.com/event/10590142-ice-nine-kills-clifton-park-upstate-concert-hall-2015?artist=Ice+Nine+Kills&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
