<section id="dates">
  <div id="tourdates-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>tour dates</h1>
        </div>    
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row listing">
        <div class="col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <div>
                <span class="date"><strong>Oct 24 | Rochester, NY </strong></span>
                <a href="http://fgtix.to/1G4VZwV" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 25 | Toledo, OH </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/965253" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 26 | Pontiac, MI </strong></span>
                <a href="http://smarturl.it/ETFcrofoot" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>            
            <li>
              <div>
                <span class="date"><strong>Oct 28 | Indianapolis, IN </strong></span>
                <a href="http://theticketrumba.com/tickets/3138" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 29 | Iowa City, IA </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/963317" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Oct 30 | Burnsville, MN </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/965191" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 1 | Denver, CO </strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=&pl=summit" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li> 
            <li>
              <div>
                <span class="date"><strong>Nov 3 | Salt Lake City, UT </strong></span>
                <a href="http://www.saltlakecityconcerts.net/eventx/ice-nine-kills" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>                        
            <li>
              <div>
                <span class="date"><strong>Nov 05 | Seattle, WA </strong></span>
                <a href="http://chopsuey.boldtypetickets.com/events/28000158/mike-thrasher-presents-ice-nine-kills-youth-in-revolt-wage-war-my-enemies-amp-i-white-noise" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 06 | Portland, OR </strong></span>
                <a href="http://cascadetickets.com/event/?performer_id=8859003" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 08 | Sacramento, CA </strong></span>
                <a href="http://www.eventbrite.com/e/ice-nine-kills-the-boardwalk-tickets-18672803859?aff=ebapi" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 10 | Ventura, CA </strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6273145" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>            
            <li>
              <div>
                <span class="date"><strong>Nov 11 | Anaheim, CA </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/964819" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 12 | San Diego, CA </strong></span>
                <a href="https://tickets.somasandiego.com/?show_id=2009" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 13 | Phoenix, AZ </strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6177955" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 16 | Oklahoma City, OK </strong></span>
                <a href="http://www.ticketstorm.com/event/iceninekills/89thstreetcollectiveformerconservatory/oklahomacity/16200/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 17 | St Louis, MO </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/964331" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 19 | Pittsburgh, PA </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/964571" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 20 | Allentown, PA </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/971259" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>            
            <li>            
              <div>
                <span class="date"><strong>Nov 21 | Lemoyne, PA </strong></span>
                <a href="https://www.ticketfly.com/purchase/event/964571" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>Nov 22 | Clifton Park, NY </strong></span>
                <a href="http://www.ticketmaster.com/event/00004F32B4C858B3" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
